*:focus {
    outline: none;
  }
  
.form {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top: 40px;
    margin-left: 156px;
}
.userdata {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04px;
    color: #2E2F42;
    
}

input[type="number"] {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04px;
    color: #2E2F42;
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 10px;
}
input[type="number"]:hover {
    border-color: #000000;
}
input[type="number"]:focus {
    border-color: #4E75FF;
}
fieldset {
    height: 64px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04px;
    color: #2E2F42;
    padding-left: 20px;
    margin-bottom: 20px;
}

.flfdbtn {
margin-left: 30px;
margin-right: 50px;

}
/* .rjctbtn {

}
input[type="radio"] {
margin-left: 20px;
margin-right: 40px;
} */

button[type="submit"] {
    height: 40px;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04px;
    background-color: #4E75FF;
    color: #FFFFFF;
}
button[type="submit"]:hover {
background-color: #6C8CFF;
}